.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2em;
}

.about > div {
  max-width: 40%;
  line-height: 1.7em;
  text-align: justify;
}

.about > img {
  border-radius: 50%;
  border: 2px solid #8ecca9;
  max-height: 400px;
}

@media all and (max-width: 600px) {
  .about {
    flex-direction: column;
  }

  .about div {
    max-width: 65%;
    margin-top: 20px;
  }
}