body {
  background: linear-gradient(180deg, rgb(58, 114, 235));
  
}
.bodyP{
  border: 2px solid black;
  font-size: medium;
  color: rgb(9, 233, 214);
  text-align: center;
}
.introImg > img {
  border-radius: 15%;
  border: 2px solid #086831;
  max-height: 400px;
}

.introImg {
  margin-top: 6vh;
}

.introHead {
  font-size: 55px;
}

.intro {
  display: inline-flex;
  font-size: 30px;
  width: 50%;
}